

<!DOCTYPE html>
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  

  
  
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  

<input type="text"  id ="val_m"></input>
<input type="text"  id ="val_n"></input>

<button id="set">set matrix size</button>

<form id="frm"></form>

<form action="/orthproj/" method="post" id="mat_vals">
{% csrf_token %}
{{ form }}
 <input id="get" type="submit" value="Submit" />
</form>





<table>
    {% for row in table %}
        <tr>
        {% for out in row %}
            {% if forloop.first or forloop.parentloop.first %} <th> {% else %} <td> {% endif %}
                {{ out }}
            {% if forloop.first or forloop.parentloop.first %} </th> {% else %} </td> {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>






  <script>
var rows;
var columns;

function sender() {
document.forms["rowcol"].submit();
document.forms["mat_vals"].submit();
return true;
}


$("#get").click(function(){
    var vals = getMatrix();
	var valString = vals.toString();
	document.getElementById("id_numbers").value = valString;
	document.getElementById("id_rows").value = document.getElementById("val_m").value;
	document.getElementById("id_cols").value = document.getElementById("val_n").value;
	console.log(valString);
	
	
	
});

$("#set").click(function(){
    var rows = document.getElementById("val_m").value;
	var columns = document.getElementById("val_n").value;
	document.getElementById("get").style.display = '';
	
	
	var form = document.getElementById("frm");

	for(var i = 0; i < rows; i++)
            {
                for(var j = 0; j < columns; j++)
                {
                    var input = $('<input>')
                        .attr({
                            class: 'matrix_cell',
                            value: i + j});
                    form.appendChild(input[0]);
                }
                var br = $('<br>')[0];
                form.appendChild(br);
            }
	
});

function getMatrix(){
    var matrix_row = [];

    var ind = 0;
    
    $("#frm").contents().each(function(i,e){
        if (this.nodeName == "INPUT")
        {
            if (!matrix_row[ind]){
                matrix_row.push([]);
            }
             matrix_row[ind].push($(this).val());            
        }
        else{
            ind++;
        }
    });
    
    return matrix_row;
}



</script>

  </body>
</html>

